<launch>
  <arg name="dummy_mode" default="false" />

  <node pkg="knowrob_poller" type="knowrob_poller" name="knowrob_poller"
        output="screen" >
    <remap from="~message" to="/speak_listener/speak"/>
    <param name="periodicity" value="10.0" />
    <param name="dummy_mode" value="$(arg dummy_mode)" />
  </node>

</launch>
